<h1>About Me</h1>
<p>Crystal Beutler is an official Senior Citizen who is interested in learing how to code.  On typical days she can be found driving carpools, drinking diet coke and creating art.</p>
